apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: provider-aws-localstack
  namespace: crossplane-system
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
          - name: package-runtime
            env:
            - name: AWS_ENDPOINT_URL
              value: "https://rustred-virgilio-noncrystallizable.ngrok-free.dev/localstack"
            - name: AWS_S3_USE_PATH_STYLE
              value: "true"
