apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: aws-localstack-cc
  namespace: crossplane-system
spec:
  args:
    - --poll=2m
  env:
    - name: AWS_REGION
      value: us-east-1
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: aws-creds-localstack
          key: access_key_id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: aws-creds-localstack
          key: secret_access_key
  # mount CA/extra certs if you ever need to trust proxies etc.
