apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: aws-localstack-cc
  namespace: crossplane-system
spec:
  env:
    - name: AWS_REGION
      value: us-east-1
    # Make provider pods read creds from a single Secret with these two keys:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: aws-creds-localstack
          key: access_key_id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: aws-creds-localstack
          key: secret_access_key
