apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: localstack-cc
  namespace: crossplane-system
spec:
  args:
    - --enable-management-policies
  env:
    - name: AWS_ACCESS_KEY_ID
      value: test
    - name: AWS_SECRET_ACCESS_KEY
      value: test
    - name: AWS_REGION
      value: us-east-1
    # One env var to point all AWS clients to LocalStack:
    - name: AWS_ENDPOINT_URL
      value: http://localstack.localstack.svc.cluster.local:4566
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
