apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: localstack-cc
  namespace: crossplane-system
spec:
  args: []
  env:
    - name: AWS_REGION
      value: us-east-1
    - name: AWS_EC2_METADATA_DISABLED
      value: "true"
    # Point all AWS SDK clients used by the providers at LocalStack Edge
    - name: AWS_ENDPOINT_URL
      value: http://localstack.localstack.svc.cluster.local:4566
  securityContext:
    runAsUser: 65532
    runAsGroup: 65532
