apiVersion: pkg.crossplane.io/v1alpha1
kind: ControllerConfig
metadata:
  name: aws-localstack
  namespace: crossplane-system
# NOTE: No credentials here. Provider uses ProviderConfig->SecretRef for creds.
spec:
  env:
    - name: AWS_REGION
      value: us-east-1
    # Tell AWS SDK in the provider controller to use LocalStack for all services
    - name: AWS_ENDPOINT_URL
      value: http://localstack.localstack.svc.cluster.local:4566
  # Optional: more relaxed liveness/readiness when using tunnels
  podSecurityContext:
    runAsNonRoot: true
