apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: Secret
    secretRef:
      name: aws-creds-localstack
      namespace: crossplane-system
      key: credentials
  endpoint:
    hostnameImmutable: true
    services:
      - iam
      - s3
      - sqs
      - sts
    url:
      type: Static
      static: http://localstack.localstack:4566
  s3_use_path_style: true
  skip_credentials_validation: true
  skip_metadata_api_check: true
  skip_requesting_account_id: true
