apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
  namespace: crossplane-system
spec:
  credentials:
    source: Secret
    secretRef:
      name: aws-creds-localstack
      namespace: crossplane-system
      key: creds
  endpoint:
    url:
      type: Static
      static: http://localstack.localstack.svc.cluster.local:4566
